.HomeBg {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #053332 100%);
    overflow: hidden;
    filter: drop-shadow(0 0 10px white);
    z-index: -1;
    position: absolute;
}

.inner {
    $total: 200;
    position: absolute;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px white 
}

.snowflake,
.snowflake .inner {
    animation-iteration-count: infinite;
    animation-play-state: running
}

@keyframes snowflakes-fall {
    0% {
        transform: translateY(0vh)
    }

    100% {
        transform: translateY(110vh)
    }
}

@keyframes snowflakes-shake {

    0%,
    100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    @for $i from 1 through 200 {
        $delay: random(100)/10 + s;
        &:nth-child(#{$i}) {
            $random-scale: (random(5000) + 5000) * 0.0001;
            left: percentage(random(10000)/10000);
            top: 0percentage(random(10000)/10000);
            opacity: random(10000) * 0.0001;
            animation-delay: $delay;
            .inner {
                animation-delay: $delay;
                width: $random-scale * 10px;
                height: $random-scale * 10px;
                animation-duration: (random(10) + 10) + s;
            }
        }
    }
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    animation-name: snowflakes-shake;
    animation-duration: 5s;
    animation-timing-function: ease-in-out
}

.snowflake .inner {
    animation-name: snowflakes-fall;
    animation-timing-function: linear
}